/* Reset styles for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Keyframes for button color fade animation */
@keyframes colorFade {
  0% {color: #8aff8a;}
  50% {color: #008a00;}
  100% {color: #8aff8a;}
  50% {color: #008a00;}
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  color: #01bd10;
  background-color: #3b3a3a;
  background-image: url('./images/image_1.jpg');
  background-size: cover;
  background-position: auto;
  background-repeat: no-repeat;
  zoom: 75%;
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 3%;
  left: 3%;
  height: auto;
  width: auto;
  padding: 25px;
  background-image: url('./images/image_4.jpg');
  background-repeat: no-repeat;
  font-family: 'Times New Roman', Times, serif;
  color: #070977;
  text-align: left;
  border: 3px solid #01bd10;
  zoom: 100%;
  z-index: 1000;
}

.sidebar h1 {
  margin-bottom: 3%;
  font-size: 50px;
  position: relative;
  text-shadow: 4px 4px 6px rgb(0, 0, 0);
}

.sidebar h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #01bd10;
}

.sidebar ul,
.sidebar li {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}

/* Main Content styles */
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  overflow: auto;
  position: fixed;
  top: 0;
  left: 400px;
  margin-left: -500px;
  margin-top: -450px;
  right: 0;
  bottom: 0;
  padding: 460px;
  font-size: 30px;
  box-sizing: border-box;
}

/* Home Section styles */
.homeSection {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.homeSection h1 {
  text-align: center;
  font-size: 70px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.homeSection p {
  font-size: 40px !important;
  text-align: left;
  margin-left: auto;
  color: #01bd10;
  text-indent: 40px;
  margin-bottom: 5%;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

/* Bio and Projects Section styles */
.bio {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  padding-bottom: 50%;
}

.projectsSection {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  margin-bottom: 100%;
}

.video-grid {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.video-item h1 {
  margin-right: 50%;
  text-align: left;
  font-size: 50px;
}

.video-wrapper {
  display: flex;
  margin-right: 49%;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 100%;
}


.projectsSection h1 {
  font-size: 70px;
  text-align: center;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.projectsSection p {
  font-size: 40px;
  color: #01bd10;
  text-indent: 40px;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.bio h1 {
  font-size: 50px;
  padding-top: 10%;
  text-align: left;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.bio img {
  margin-bottom: 10%;
}

.section-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-button-container h1 {
  margin-top: 5%;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.section-button-container h2 {
  font-size: 30px;
  margin-top: -5px;
  margin-bottom: 10px;
  margin-right: 65%;
  color: #01bd10;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
}

.section-button-container h3 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-top: 0;
  padding-bottom: 0;
  color: #01bd10;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
}

.section-button-container h4 {
  font-size: 50px;
  margin-top: 5%;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.section-button-container h5 {
  font-size: 60px;
}

.sidebar li a,
.section-button-container a {
  width: auto;
  padding: 5px 10px;
  margin-top: -2px;
  margin-bottom: 5px;
  color: #01bd10;
  background-color: #3a3939;
  border: 5px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.5;
  transition: background-color 0.3s ease;
  transition: all 0.05s ease;
  position: relative;
  box-shadow: 15px 15px 15px rgba(10, 10, 10, 0.733);
  animation: colorFade 3s infinite alternate;
  outline: none;
}

.sidebar li a.pressed,
.section-button-container a.pressed {
  transform: translateY(5px);
}

.sidebar li a:active,
.section-button-container a:active {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}

.sidebar li a:hover,
.section-button-container a:hover {
  background-color: #3d3075;
}

/* Media Queries */
@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr);
  }

  .homeSection,
  .bio,
  .video-grid,
  .projectsSection {
    grid-column: 1;
    grid-row: 1;
  }
}

/* Controls the display of the home and projects sections */
#homeContent,
#projectsContent {
  display: none;
}

/* Controls the display of the active home and projects sections */
#homeContent.active,
#projectsContent.active {
  display: block;
}
